## CHICAGO DATASET

- Clean the dataset

In [2]:
# This data samples the 1000 cases of crime reported and filled in the state of chicago USA
import pandas as pd

# Load dataset
data = r"C:\Users\USER\Desktop\AltSchool\WORKSPACE\Assignments\crime_data_chicago.csv"

chicago_data = pd.read_csv(data)

In [3]:
chicago_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278726 entries, 0 to 2278725
Data columns (total 23 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   ID                    int64
 2   Case Number           object
 3   Date                  object
 4   Block                 object
 5   IUCR                  object
 6   Primary Type          object
 7   Description           object
 8   Location Description  object
 9   Arrest                bool
 10  Domestic              bool
 11  Beat                  int64
 12  District              float64
 13  Ward                  float64
 14  Community Area        float64
 15  FBI Code              object
 16  X Coordinate          float64
 17  Y Coordinate          float64
 18  Year                  int64
 19  Updated On            object
 20  Latitude              float64
 21  Longitude             float64
 22  Location              object
dtypes: bool(2), float64(7), int64(4), object(10)
memory usage: 369.4+ MB

In [6]:
# Check the missingness in the data
chicago_data.isna().sum()

Unnamed: 0                   0
ID                           0
Case Number                  1
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description      2877
Arrest                       0
Domestic                     0
Beat                         0
District                    12
Ward                    184695
Community Area          184267
FBI Code                     0
X Coordinate             23985
Y Coordinate             23985
Year                         0
Updated On                   0
Latitude                 23985
Longitude                23985
Location                 23985
dtype: int64

### Explaining the Missingness in the data

- The ward and community Area have high NaN values, but given that they are categorical data representation locations, data inputation may lead to misleading insights
- Location, Latitude, and Longitude are all pointing to the same information, and since we are not considering spatial analysis, we can ignore the NaN
- We also notice the same amount of missingness in the location related data

In [9]:
# See rows with missing values
chicago_data[chicago_data['Location'].isnull()]

# Result confirms that the missingness for different location-related columns are found on the same observations 
# We can assume that these values are missing at random and therefore proceed to remove them

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
100,100,10316006,HY486322,11/02/2015 02:00:00 PM,002XX S CANAL ST,2091,NARCOTICS,FORFEIT PROPERTY,OTHER RAILROAD PROP / TRAIN DEPOT,True,...,2.0,28.0,18,NaN,NaN,2015,06/25/2016 03:50:05 PM,NaN,NaN,NaN
190,190,10214227,HY394676,08/23/2015 06:30:00 PM,031XX W VAN BUREN ST,2014,NARCOTICS,MANU/DELIVER: HEROIN (WHITE),VEHICLE NON-COMMERCIAL,True,...,28.0,27.0,18,NaN,NaN,2015,02/09/2018 03:44:29 PM,NaN,NaN,NaN
348,348,7545878,HR469539,08/06/2009 09:10:00 PM,065XX S RHODES AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,OTHER,True,...,20.0,42.0,18,NaN,NaN,2009,08/17/2015 03:03:40 PM,NaN,NaN,NaN
515,515,10387291,HZ123630,12/24/2015 02:00:00 PM,072XX S COLES AVE,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,...,7.0,43.0,05,NaN,NaN,2015,02/09/2018 03:44:29 PM,NaN,NaN,NaN
683,683,11910351,JC532816,11/14/2017 08:50:00 AM,004XX W FULLERTON PKWY,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,...,43.0,7.0,11,NaN,NaN,2017,12/04/2019 03:53:23 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2278565,2278565,11505494,JB513256,11/06/2018 12:00:00 AM,024XX W IRVING PARK RD,0810,THEFT,OVER $500,RESIDENCE,False,...,47.0,5.0,06,NaN,NaN,2018,11/13/2018 04:24:27 PM,NaN,NaN,NaN
2278621,2278621,12591658,JF111413,08/08/2016 06:00:00 PM,005XX S CAMPBELL AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,...,28.0,28.0,11,NaN,NaN,2016,01/14/2022 03:50:05 PM,NaN,NaN,NaN
2278659,2278659,12773616,JF332718,12/28/2021 12:00:00 AM,028XX W 22ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,...,12.0,30.0,26,NaN,NaN,2021,07/27/2022 04:51:55 PM,NaN,NaN,NaN
2278676,2278676,8433036,HV111421,01/01/2009 12:00:00 PM,064XX S LAVERGNE AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,...,13.0,64.0,06,NaN,NaN,2009,08/17/2015 03:03:40 PM,NaN,NaN,NaN
2278712,2278712,2033922,HH245564,03/16/2002 04:05:54 AM,075XX S KING DR,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,...,NaN,NaN,14,NaN,NaN,2002,02/04/2016 06:33:39 AM,NaN,NaN,NaN

In [11]:
# Drop all missing values in Location, Longitude, Latitude and Coordinates
chicago_data.dropna(subset='Location', inplace=True)

In [13]:
# Again... Check the missingness in the data
chicago_data.isna().sum()

Unnamed: 0                   0
ID                           0
Case Number                  0
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description      1869
Arrest                       0
Domestic                     0
Beat                         0
District                    12
Ward                    181939
Community Area          181546
FBI Code                     0
X Coordinate                 0
Y Coordinate                 0
Year                         0
Updated On                   0
Latitude                     0
Longitude                    0
Location                     0
dtype: int64

### How do we handle the missing values in Ward and Community area?

- **Option 1:** We can ignore this since the proportion of data that we will lose is not significant to the total (181,939/2,278,726), less than 10%
- **Option 2:** We can also try to group the data by a common denominator and try to get the appropriate aggregate values that can then be used to fill the NaN

Our approach will be the second option. We will group by district and compare the averages. First, let us remove the rows with missing info in the district.

In [16]:
# Drop missing values in the district column
chicago_data.dropna(subset='District', inplace=True)

In [18]:
# Check the unique combinations of the three columns
chicago_data[['District', 'Ward', 'Community Area']].drop_duplicates().sort_values('District')

         District  Ward  Community Area
1253012       1.0  42.0             8.0
41            1.0   3.0            35.0
1119          1.0   4.0            35.0
1041          1.0   4.0            32.0
1031          1.0   2.0            35.0
...           ...   ...             ...
1652886      31.0  37.0            25.0
1593192      31.0  42.0            32.0
1106857      31.0   6.0            69.0
833807       31.0  36.0            20.0
909182       31.0  15.0            67.0

[604 rows x 3 columns]

In [20]:
# Let's define a function to fill missing values using mode per group
def fill_missing_by_mode(df, group_col, target_col):
    mode_map = df.groupby(group_col)[target_col].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
    df[target_col] = df.apply(
        lambda row: mode_map[row[group_col]] if pd.isnull(row[target_col]) and pd.notnull(row[group_col]) else row[target_col],
        axis=1
    )
    return df

In [22]:
# Let's now fill the missing values in Ward using the most common value per District
chicago_data_clean = fill_missing_by_mode(chicago_data, 'District', 'Ward')

In [24]:
# Check if missing values reduced
chicago_data_clean[['District', 'Ward']].isnull().sum()

District    0
Ward        0
dtype: int64

In [27]:
# Let's now fill the missing values in Community Area using the most common value per District
chicago_data_clean = fill_missing_by_mode(chicago_data, 'District', 'Community Area')

In [28]:
# Check if missing values reduced
chicago_data_clean[['District', 'Community Area']].isnull().sum()

District          0
Community Area    0
dtype: int64

In [31]:
# Drop all missing values in Location decription column
chicago_data_clean.dropna(subset='Location Description', inplace=True)

In [33]:
# Recall there was missing values in the Location description column as well, these will be dropped since they are not too many.
chicago_data_clean.isna().sum()

Unnamed: 0              0
ID                      0
Case Number             0
Date                    0
Block                   0
IUCR                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
FBI Code                0
X Coordinate            0
Y Coordinate            0
Year                    0
Updated On              0
Latitude                0
Longitude               0
Location                0
dtype: int64

---
Now, that we have successfully removed all NaNs, we will now check for redundancy in the columns.

- We have observed that there are several columns with location related information.
- There are also a few columns that refer to unique ID.
- In this case also, we will be removing the Date updated and year columns since we already have columns with similar info.

---

In [36]:
# check column names
chicago_data_clean.columns

Index(['Unnamed: 0', 'ID', 'Case Number', 'Date', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [38]:
# Drop columns that have similar/duplicated information
chicago_data_clean.drop(columns=['Unnamed: 0', 'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude'], axis=1, inplace=True)

In [40]:
chicago_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2252860 entries, 0 to 2278725
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  Location              object
dtypes: bool(2), float64(3), int64(2), object(9)
memory usage: 262.1+ MB

---
Next, we convert the date column to datetime format which is easier for analysis

---

In [43]:
chicago_data_clean['Date'] = pd.to_datetime(chicago_data_clean['Date'])

C:\Users\USER\AppData\Local\Temp\ipykernel_22576\1399390975.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  chicago_data_clean['Date'] = pd.to_datetime(chicago_data_clean['Date'])

In [47]:
chicago_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2252860 entries, 0 to 2278725
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  datetime64[ns]
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  Location              object
dtypes: bool(2), datetime64[ns](1), float64(3), int64(2), object(8)
memory usage: 262.1+ MB

In [59]:
# Save the file externally
chicago_data_clean.to_csv('chicago_crime_cleaned.csv', index=False)